mixin productListItem(img)
  .productdetail-item
    img.productdetail-item--img(src=img, alt="")
    .productdetail-bot
      i.fa.fa-heart 
        span Yêu thích
      i.fa.fa-chart-bar 
        span So sánh
    a(href="detail.html") Rượu vang Đà lạt
    h3.productdetail-item--price 370.000
      span.productdetail-item--saleprice 450.000
    button.productdetail-item--bitton ADD TO CART
mixin productItem(img,tag,span)
  .newproduct-item
    img.newproduct-item--img(src=img, alt="")
    .newproduct-bot
      i.fa.fa-heart 
        span Yêu thích
      i.fa.fa-chart-bar 
        span So sánh
    img.newproduct-item--span(src=tag, alt="")
    span.newproduct-item--tag= span
    a(href="detail.html") Rượu vang Đà lạt
    h3.newproduct-item--price 370.000
      span.newproduct-item--saleprice 450.000
    button.newproduct-item--bitton ADD TO CART

mixin productHotItem(img)
  .hotproduct-item
    img.hotproduct-item--img(src=img, alt="")
    a(href="detail.html") Rượu vang Đà lạt
    h3.hotproduct-item--price 370.000
      span.hotproduct-item--saleprice 450.000
    button.hotproduct-item--bitton ADD TO CART
mixin pagetag(links)
  .tag
    - for (var i = 0; i < links.length; i++) 
      a.tag__item(href="#")=links[i] 
      span /
mixin titleItem
  h1.product-item__info--heading RƯỢU NHO NĂM 1987
  img.product-item__info--arrow(src="../assets/images/titleleft-dark.png", alt="")
  h3.product-item__info--price 330.000đ
mixin  headding(title)
  h1.product-item__info--heading= title
  img.product-item__info--arrow(src="../assets/images/titleleft-dark.png", alt="")
mixin productList(list)
  - for (var i = 0; i < list.length; i++)
      if list[i].quantity == " "
        li 
          a.product__item(href="#")=list[i].name 
      else
        li 
          a(href="#")=list[i].name+" ("+list[i].quantity+")" 
mixin productTag (list)
    - for (var i = 0; i < list.length; i++)
        a(href="#")=list[i]
mixin productlistitem(img)
  .productlist__item
    .productlist__img
        .productlist__img-wrap
            img(src=img, alt="")
    .productlist__desc
        .productlist__desc-wrap
            +titleItem
            p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
            button Add to cart
            a(href="#")
                i.fas.fa-heart
                | Yêu thích
            a(href="#")
                i.fas.fa-signal
                | So sánh 
mixin cart (list) 
  table.cart__table
    tr 
      each title in ["ảnh", "tên sản phẩm", "giá", "số lượng", "tổng số", "xóa"]
        th=title
    each item in list
      tr 
        td.cart__table--img
          img(src="../assets/images/" + item + ".jpg")
        td.cart__table--name.titlename Rượu vang đỏ
        td.cart__table--price.price 345,000
            span đ 
        td.cart__table-quantity 1
        td.cart__table--sum.price 345,000
            span đ
        td.cart__table-delete: a: i.fas.fa-trash-alt
mixin blogItem(item)
  each id in item 
    .blog-new__item
      img(src="../assets/images/blog_"+id+".png", alt="")
      a(href="blogdetail.html")
        h2 Vang thang Long classic
      span Đăng bởi Giangle | 30/06/2015 | 60 bình luận
      p.
          Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ
          rượu nhẹ, bột ga đầy trắng mịn.
          Van nổ Thăng Long ...
      a(href="") Read more
mixin Input (title, texttype, require, name, value)
  .textInput
    label(for=name)=title 
        if (require == 1)
            span * 
    if (value != "")
        input(type=texttype name=name value=value)
    else
        input(type=texttype name=name)